*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background-image: url(bg.jpg);
    display: grid;
    place-items: center;
    background-size: cover;
}

.game-info {
    color: #030305e5;
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fdfdfd;
    border-radius: 3px;
    border: 1px solid #fdfdfd;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 11px 50px;
    text-align: center;
    font-weight: 700;
}

.tic-tac-toe {
    width: 90%;
    max-width: 25rem;
    background-color: #fdfdfd;
    border-radius: 7px;
    border: 1px solid #fdfdfd;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    aspect-ratio: 1/1;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.box {
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    cursor: pointer;
    font-size: 3rem;
    font-weight: 500;
    color: #000000df;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 3px 0px 7px rgba(221, 216, 216, 0.662), 
	  -3px 0px 7px rgba(221, 216, 216, 0.662), 
	  0px 4px 7px rgba(15, 21, 45, 0.8);
}

.box1, .box2, .box4, .box5 {
    border-right: 3px solid #000000df;
    border-bottom: 3px solid #000000df;
}

.box3, .box6 {
    border-bottom: 3px solid #000000df;
}

.box7, .box8 {
    border-right: 3px solid #000000df;
}

.btn {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    color: #04030aed;
    background-color: #fdfdfd;
    border-radius: 5px;
    border: 1px solid #fdfdfd;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 12px 50px;
    text-align: center;
    font-weight: 700;
    display: none;
}

.btn.active {
    display: flex;
}

.win {
    background-color: rgba(10, 187, 10, 0.797);
}
